<template>
  <div class="w-25 p-3 produit-container d-flex flex-column">
              <h1>Boutique</h1>
    <div class="d-flex flex-row justify-content-center" v-for="produit in produits" :key="produit.id" :produit="produit">


    <div class="card" style="width: 18rem;">
    <img style="height: 150px" src="http://lorempixel.com/400/200/">
  <div class="card-body">
    <h5 class="card-title">{{ produit.titre }}</h5>
    <p class="card-text">{{ produit.description }}</p>
    <p class="card-text">{{ produit.prix }} €</p>
    <p :id="produit.id" class="d-none"></p>
    <button @click="ajout" class="btn btn-primary btn-sm float-right">Commander</button>
  </div>
</div>
</div>
  </div>
</template>

<script>

export default {
  data() {
      return {
          produits: {},
          panier: {
              id: ''
          }
      }
  },
  
  created() {
    axios.get('http://127.0.0.1:8000/boutique')
    .then(response => this.produits = response.data).catch(error => console.log(error));
  },

  methods: {
      ajout() {
          axios.post('http://127.0.0.1:8000/panier', this.panier)
          .then(response => this.panier = response.data).catch(error => console.log(error));
          console.log(this.panier);
      }
  }
}
</script>

<style>
.produit-container {
  height: 400px
}
p {
  font-size: 12px;
}
</style>




