<template>
    <div class="d-flex flex-row justify-content-between p-2">
      <span>{{ item.titre }}</span>
      <span><strong>{{ item.prix }}</strong></span>
      <!-- <button @click="retirerProduitDuPanier" class="close"> -->
        <span>&times;</span>
      </button>
    </div>

</template>

<script>

// import { eventBus } from '../../main'

export default {
  props: ['item'],
//   methods: {
//     retirerProduitDuPanier() {
//       eventBus.retirerProduitDuPanier({...this.item});
//     }
//   }
}
</script>

<style>
</style>
