<template>
<div class="d-flex flex-column p-5">
    <h5 class="border-bottom pb-3">Mon panier</h5>
    <PanierProduit v-for="item in panier" :key="item.id" :item="item"></PanierProduit>
    <hr class="w-100">
</div>
</template>

<script>
import PanierProduit from "./PanierProduit";

export default {
    components: {
        PanierProduit
    },
    props: ['panier']
}
</script>

<style>
</style>
