<template>
<div class="container w-50 mt-4">

    <h1>Ajouter un produit dans la boutique</h1>

    <form @submit='Ajouter' class="mt-5 bg-light">
        <div class="form-group">
            <label>Nom du produit</label>
            <input v-model="form.titre" type="text" class="form-control" placeholder="Nom du produit">
        </div>

        <div class="form-group">
            <label>Descriptif du produit</label>
            <input v-model="form.description" type="text" class="form-control" placeholder="Descriptif du produit">
        </div>

        <div class="form-group">
            <label>Prix du produit</label>
            <input v-model="form.prix" type="number" class="form-control" placeholder="Prix du produit">
        </div>

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>
</template>

<script>

export default {
    name: "produit",
    data() {
        return {
            form: {
                titre: '',
                image: 'null',
                description: '',
                prix: '',
            }
        }
    },
    methods: {
        Ajouter() {
            axios.post("http://127.0.0.1:8000/AddProduit", this.form)
                .then(res => console.log(res))
                .catch(err => console.log(err))
        }
    }
}
</script>

<style>
</style>
