<template>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link to="/accueil" class="navbar-brand">
            IFPA
        </router-link>
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link to="/boutique">Boutique</router-link>
                </li>
                <li class="nav-item ml-3">
                    <router-link to="/panier">Panier</router-link>
                </li>
                <li class="nav-item ml-3">
                    <router-link to="/ajout-produit">Ajouter produit</router-link>
                </li>
                <!-- <li class="nav-item ml-3">
                    <router-link to="/connexion">Connexion</router-link>
                </li> -->
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style>
</style>
